<?xml version="1.0"?>
<config>
  <modules>
    <Yougento_S2b>
      <version>0.0.1</version>
    </Yougento_S2b>
  </modules>
    <frontend>
        <layout>
            <updates>
                    <s2b>
                         <file>s2b.xml</file>
                </s2b>
        </updates>
    </layout>
</frontend>
    <admin>
        <routers>
            <s2b>
            <use>admin</use>
            <args>
                <module>Yougento_S2b</module>
                <frontName>s2b</frontName>
            </args>
            </s2b>
            <adminhtml>
                <args>
                    <modules>
                        <Yougento_S2b before="Mage_Adminhtml">Yougento_S2b</Yougento_S2b>
                         <Yougento_S2b_Adminhtml before="Mage_Adminhtml">Yougento_S2b_Adminhtml</Yougento_S2b_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
      <global>
        <blocks>
            <s2b>
                <class>Yougento_S2b_Block</class>
            </s2b>
            <adminhtml>
			    <rewrite>
                    <customer_edit_tab_account>Yougento_S2b_Block_Rewrite_Editcustomer</customer_edit_tab_account>
                	<catalog_product_grid>Yougento_S2b_Block_Rewrite_Productgrid</catalog_product_grid> 	
                	<customer_edit_tabs>Yougento_S2b_Block_Rewrite_Newtabs</customer_edit_tabs>  
                	<permissions_editroles>Yougento_S2b_Block_Rewrite_Customroles</permissions_editroles>
                	<catalog_product_edit_tabs>Yougento_S2b_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                	<catalog_product_edit_tab_settings>Yougento_S2b_Block_Adminhtml_Catalog_Product_Edit_Tab_Settings</catalog_product_edit_tab_settings>
             		<customer_group_grid>Yougento_S2b_Block_Adminhtml_Customer_Group_Grid</customer_group_grid>
             		<customer_group_edit>Yougento_S2b_Block_Adminhtml_Customer_Group_Edit</customer_group_edit>
             		<customer_group_edit_form>Yougento_S2b_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
             		<catalog_product>Yougento_S2b_Block_Rewrite_Productgridcontainer</catalog_product>
                </rewrite>
            </adminhtml>
        </blocks>
          <models>
            <s2b>
                <class>Yougento_S2b_Model</class>
            	<resourceModel>s2b_mysql4</resourceModel>
			 </s2b>
			 
			<s2b_mysql4>
			     <class>Yougento_S2b_Model_Mysql4</class>
			     <entities>
			         <information>
			           <table>vendor_information</table>
			         </information>
			         <configs>
			         <table>config_customvendor</table>
			         </configs>
			      </entities>
			</s2b_mysql4>
			
			    <!-- allow the plugin to read and write -->
			<resources>
			        <!-- connection to write -->
			        <s2b_write>
			            <connection>
			                <use>core_write</use>
			            </connection>
			        </s2b_write>	
			       <s2b_read>
			          <connection>
			             <use>core_read</use>
			          </connection>
			       </s2b_read>
			</resources>
			      <catalog>
		        <rewrite>
		          <product_type>Yougento_S2b_Model_Product_Type</product_type>
		        </rewrite>
		      </catalog>
        </models> 
        <resources>
        			<s2b_setup>
			       		<setup>
			       			<module>Yougento_S2b</module>
			       			<class>Yougento_S2b_Model_Entity_Setup</class>
			       		</setup> 	
			       		<connection>
			       			<use>core_setup</use>
			       		</connection>
			       </s2b_setup> 
			           <s2b2_setup>
					        <setup>
					            <module>Yougento_S2b</module>
					            <class>Yougento_S2b_Model_Resource_Mysql4_Setup</class>
					        </setup>
					        <connection>
					            <use>core_setup</use>
					        </connection>
					    </s2b2_setup>
        </resources>

        <helpers>
            <s2b>
                <class>Yougento_S2b_Helper</class>
            </s2b>
        </helpers>
        <template>
        	<email>
        		<received_messages translate="label" module="airbnbclone">
        			<label>Received Message</label>
        			<file>received_messages.html</file>
        			<type>html</type>
        		</received_messages>
        	</email>
        </template>
     </global>
     <adminhtml>
        <layout>
            <updates>
                <s2b>
                    <file>s2b.xml</file>
                </s2b>
            </updates>
        </layout>

        <menu>
            <s2b_menu module="s2b">
                <title>Vendor Account</title> 
                <sort_order>80</sort_order>
                <children>
                    <first_page module="s2b">
                        <title>My Account</title> 
                        <action>s2b/adminhtml_dash/</action>
                    </first_page>
                </children>
            </s2b_menu>
        </menu>
           <acl>
            <resources>
                <admin>
                	<children>
	                    <s2b_menu module="s2b">
		                	<title>Vendor Account</title> 
		                	<sort_order>80</sort_order>
		               		 <children>
		                    		<first_page module="s2b">
			                        <title>My Account</title> 
		                    		</first_page>
		                	</children>
	            		</s2b_menu>
            		</children>
                </admin>
            </resources>
        </acl>
     	 <events>
     	 	<adminhtml_customer_prepare_save>
                <observers>
                    <Yougento_S2b_Model_Observer>
                        <type>singleton</type>
                        <class>Yougento_S2b_Model_Observer</class>
                        <method>handlecpfileupload</method>
                    </Yougento_S2b_Model_Observer>
                </observers>
            </adminhtml_customer_prepare_save>
            <adminhtml_customer_save_after>
                <observers>
                    <yougento_s2b_save_customer_data>
                        <type>singleton</type>
                        <class>Yougento_S2b_Model_Observer</class>
                        <method>saveCustomerData</method>
                    </yougento_s2b_save_customer_data>
                    <yougento_s2b_save_customer_info>
                    	<type>singleton</type>
                        <class>Yougento_S2b_Model_Observer</class>
                        <method>saveVendorInfo</method>
                    </yougento_s2b_save_customer_info>
                    <yougento_s2b_change_group_role>
                    	<type>singleton</type>
                        <class>Yougento_S2b_Model_Observer</class>
                        <method>syncGroupRole</method>
                    </yougento_s2b_change_group_role>
                </observers>
            </adminhtml_customer_save_after>
            <catalog_product_new_action>
            	<observers>
            		<yougento_s2b_save_product_creator>
            			<type>singleton</type>
            			<class>Yougento_S2b_Model_Observer</class>
            			<method>saveProductCreator</method>
            		</yougento_s2b_save_product_creator>
        	</observers>
            </catalog_product_new_action>
            <catalog_product_prepare_save>
            	<observers>
            		<yougento_s2b_save_product_creatordata>
            		    <type>singleton</type>
            			<class>Yougento_S2b_Model_Observer</class>
            			<method>saveProductCreatorData</method>
            		</yougento_s2b_save_product_creatordata>

            	</observers>
            </catalog_product_prepare_save>
            <catalog_product_save_before>
           		 <observers>
            		<yougento_s2b_save_product_creatordata>
            		    <type>singleton</type>
            			<class>Yougento_S2b_Model_Observer</class>
            			<method>detectMaxProd</method>
            		</yougento_s2b_save_product_creatordata>
            	</observers>
            </catalog_product_save_before>
            <catalog_product_edit_action>
            	<observers>
            		<yougento_s2b_lockcreator>
            	        <type>singleton</type>
            			<class>Yougento_S2b_Model_Observer</class>
            			<method>lockCreator</method>
            		</yougento_s2b_lockcreator>
            	</observers>
            </catalog_product_edit_action>
        </events>
     </adminhtml>
  </config>
